<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="app">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>T E C H I E</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

  <link rel="icon" href="img/favicon.png" />
  <link media="all" type="text/css" rel="stylesheet" href="css/app.min.css" />

  <!-- Google Analytics -->
  <script>
  //<![CDATA[
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54264896-1', 'auto');
    ga('send', 'pageview');
  //]]>
  </script>
</head>

<body ng-controller="CommonCtrl">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle pull-left" ng-click="isNavCollapsed = !isNavCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ng-click="route('home')" onclick="window.location.reload()"><img src='./img/tlt-header.png' /></a>
		</div>
		<div class="collapse navbar-collapse" uib-collapse="!isNavCollapsed">
			<ul class="nav navbar-nav" ng-click="isNavCollapsed = false">
			  <li><a href='http://blog.thelittletechie.com'><i class='fa fa-code fa-fw'></i> Blog</a></li>
        <li><a ng-click="route('about')"><i class='fa fa-user fa-fw'></i> About</a></li>
        <li><a ng-click="route('cv')"><i class='fa fa-file-text fa-fw'></i> Resume</a></li>
        <li><a ng-click="route('portfolio')"><i class='fa fa-archive fa-fw'></i> Portfolio</a></li>
        <li><a ng-click="route('contact')"><i class='fa fa-envelope fa-fw'></i> Contact</a></li>
			</ul>
      <ul class="nav navbar-nav pull-right navbar-social">
			  <li><a href='https://twitter.com/vivinantony'><i class='fa fa-twitter fa-fw'></i></a></li>
        <li><a href="https://www.facebook.com/TheLittleTechie"><i class='fa fa-facebook fa-fw'></i></a></li>
        <li><a href="https://plus.google.com/104070651474939118104"><i class='fa fa-google-plus fa-fw'></i></a></li>
        <li><a href="https://www.linkedin.com/in/vivinantony"><i class='fa fa-linkedin fa-fw'></i></a></li>
        <li><a href="http://codepen.io/vivinantony/"><i class='fa fa-codepen fa-fw'></i></a></li>
			</ul>
		</div>
	</nav>

  <div>
    <a class='chev-up' ng-click="scrollTo('tlt')"><i class='fa fa-chevron-circle-up fa-2x'></i></a>
  </div>

  <div id="tlt" style="height: 50px"></div>
  <div ui-view></div>
  <div class="loading">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>

  <script src="js/app.min.js"></script>
</body>
</html>