<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="app">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta content='blogging, html, html5, css, css3, javascript, jquery, sql, nodejs, angularjs, bootstrap, fontawesome, coding, programming, programmer, the little techie, little techie, thelittletechie, ad free website, responsive, responsive webdesign, responsive blog, with example, with demo' name='keywords'/>
  <meta content='Vivin Antony' name='author'/>
  <meta content='#3B305F' name='theme-color'/>

  <title>T E C H I E</title>

  <link rel="icon" href="img/favicon.png" />
  <link media="all" type="text/css" rel="stylesheet" href="css/app.min.css" />

  <!-- Google Analytics -->
  <script>
    //<![CDATA[
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-54264896-1', 'auto');
    ga('send', 'pageview');
  //]]>
  </script>
</head>

<body ng-controller="CommonCtrl" id="top">
  <nav>
    <div class="hamburger" ng-class="navFlag ? 'active' : ''" ng-click="navFlag = !navFlag">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
    </div>
  </nav>

  <div ng-include="'./views/canvas.html'"></div>

  <div ui-view></div>

  <div class="menu-overlay" ng-show="navFlag">
    <ul>
      <li class="animated slideInLeft" ng-click="navClose()"><a ui-sref="home">home</a></li>
      <li class="animated slideInLeft" ng-click="navClose()"><a href="http://blog.thelittletechie.com">blog</a></li>
      <li class="animated slideInLeft" ng-click="navClose()"><a ui-sref="about">about</a></li>
      <li class="animated slideInLeft" ng-click="navClose()"><a ui-sref="cv">cv</a></li>
      <li class="animated slideInLeft" ng-click="navClose()"><a ui-sref="portfolio">portfolio</a></li>
      <li class="animated slideInLeft" ng-click="navClose()"><a ui-sref="contact">contact</a></li>
    </ul>
  </div>

  <script src="js/app.min.js"></script>
</body>

</html>