<div class="container page apps-page">
  <div class="row">
    <div class="col-md-12">
      <h3 class="title">Apps</h3>
      <hr/>

      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
            <div class="input-group-btn" uib-dropdown>
              <button id="sort-button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled"> 
                Sort by <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="sort-button">
                <li role="menuitem">
                  <a ng-click="sort('title')">
                    Name
                    <span ng-show="sortBy == 'title'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                  </a>
                </li>
                <li role="menuitem">
                  <a ng-click="sort('os')">
                    OS
                    <span ng-show="sortBy == 'os'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                  </a>
                </li>
              </ul>
            </div>
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Apps..." ng-model="search">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="search = ''"><i class="fa fa-times"></i></button>
            </span>
          </div>
        </div>
      </div>

      <hr/>

      <div class="row apps-container">
        <p ng-show="apps.length == 0">No apps added yet!</p>
        <a ng-repeat="app in apps | filter: search | orderBy:sortBy:sortReverse" ng-href="{{app.url}}">
          <div class="col-sm-4 col-md-3 animated flipInY">
            <div class="thumbnail">
              <div class="thumbnail-container">
                <img ng-src="{{app.thumbnail}}" alt="{{app.title}}">
              </div>
              <div class="caption">
                <h4>{{app.title}}</h4>
                <p>
                  <i class="fa fa-android" ng-show="app.os == 'android'"></i>
                  <i class="fa fa-apple" ng-show="app.os == 'ios'"></i> {{app.os}}
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>

  <div ng-include="'./views/footer.html'"></div>
</div>