<div class="container page copyright-page">
  <div class="row panel animated shake">
    <div class="col-md-12">
      <h3 class="title">Copyright Policy</h3>
      <hr/>
      <p>&copy; Copyright 2013-2017 All Rights Reserved. Unless otherwise stated, all content on www.thelittletechie.com is protected by Copyright.</p>

      <p>You may not redistribute, modify, publish, reproduce, sell, create derivative works or commercially exploit my content without prior written consent. If wanting to feature an article, you may quote a short snippet from the post which must link back to the original post on www.thelittletechie.com. You may not post the entire blog post, step-by-step instructions, code or any written material, without prior permission. If you would like to re-post content on your site or use content commercially, please send an email at thelittletechie@gmail.com. The codes written can be used on a matter of testing purpose alone.</p>

      <hr/>

      <h3>Comment Policy</h3>
      <p>Comments are welcomed and encouraged, but will be removed if they:</p>
      <ul class="list-group">
        <li class="list-group-item">are deemed to be spam</li>
        <li class="list-group-item">containing irrelevant links</li>
        <li class="list-group-item">if not relevant to the post</li>
        <li class="list-group-item">rude</li>
        <li class="list-group-item">do not contribute to the discussion</li>
      </ul>
    </div>
  </div>

  <div ng-include="'./views/footer.html'"></div>
</div>