<div class="container">
  <footer>
    <p>                
      <a href='https://twitter.com/vivinantony'>
        <span class='fa-stack fa-2x'>
          <i class='fa fa-circle fa-stack-2x social-twitter'></i>
          <i class='fa fa-twitter fa-stack-1x social-icons'></i>
        </span>
      </a>
      <a href='https://www.facebook.com/TheLittleTechie'>
        <span class='fa-stack fa-2x'>
          <i class='fa fa-circle fa-stack-2x social-facebook'></i>
          <i class='fa fa-facebook fa-stack-1x social-icons'></i>
        </span>
      </a>
      <a href='https://plus.google.com/104070651474939118104' rel='publisher'>
        <span class='fa-stack fa-2x'>
          <i class='fa fa-circle fa-stack-2x social-googleplus'></i>
          <i class='fa fa-google-plus fa-stack-1x social-icons'></i>
        </span>
      </a>        
      <a href='https://www.linkedin.com/in/vivinantony'>
        <span class='fa-stack fa-2x'>
          <i class='fa fa-circle fa-stack-2x social-linkedin'></i>
          <i class='fa fa-linkedin fa-stack-1x social-icons'></i>
        </span>
      </a>
      <a href='http://codepen.io/vivinantony/'>
        <span class='fa-stack fa-2x'>
          <i class='fa fa-circle fa-stack-2x social-codepen'></i>
          <i class='fa fa-codepen fa-stack-1x social-icons'></i>
        </span>
      </a>
    </p>
    <p>
      <i class='fa fa-copyright'></i> Copyright 2013-2017<br />
      Designed and built by <a href='https://twitter.com/vivinantony'>@Vivin</a> with all the <i class='fa fa-heart'></i> in the world.</i>
    </p>
    <p>
      <a ng-click="route('apps')">Apps</a> &#8226; <a ng-click="route('privacy')">Privacy</a> &#8226; <a ng-click="route('copyright')">Copyright</a>
    </p>
  </footer>
</div>