<div class="full-page">
  <div class="page page-home">
    <div class="container">
      <div class='row'>
        <div class="col-md-12">
          <h1><a href="https://twitter.com/vivinantony">HTML5, CSS3, web and Software developer</a></h1>
          <p>I maintain a healthy balance between functionality and visual impact in all my work. I believe every piece of coding and design can be a work of <a href="http://vivinantony.tumblr.com/">art</a>.</p>
          <p>I enjoy my work. Feel free to look at my <a ui-sref="portfolio">portfolio</a> and dont't hesitate to <a ui-sref="contact">contact</a> me if you think i can be a service of you.</p>
          <p>Here i <a href="http://blog.thelittletechie.com">blog</a> about my research and development works or anything that happens to intrests me.</p>
          <p>Here's my <a ui-sref="cv">CV</a>!</p>
          <p class="quote"><em><strong>"In depth with Angular 2"</strong></em></p>
        </div>
      </div>
    </div>
  </div>

  <div ng-include="'./views/footer.html'"></div>
</div>