<div class="full-page">
  <div class="page page-portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="row">
            <div class="col-md-12">
              <div class="input-group">
                <div class="input-group-btn" uib-dropdown>
                  <button id="sort-button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled"> 
                    Sort by <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="sort-button">
                    <li role="menuitem">
                      <a ng-click="sort('title')"> Name
                        <span ng-show="sortBy == 'title'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Portfolio..." ng-model="search">
                <span class="input-group-btn">
              <button class="btn btn-default" ng-click="search = ''"><i class="fa fa-times"></i></button>
            </span>
              </div>
            </div>
          </div>

          <hr/>

          <div class="row">
            <p ng-show="folio.length == 0">No portfolio added yet!</p>
            <a ng-repeat="folio in folios | filter: search | orderBy:sortBy:sortReverse" ng-click="$ctrl.open('lg'); folioView(folio.id)">
              <div class="col-sm-6 col-md-4 animated zoomIn">
                <div class="thumbnail">
                  <div class="thumbnail-container">
                    <img ng-src="{{folio.thumbnail}}" alt="{{folio.title}}">
                  </div>
                  <div class="caption">
                    <h4>{{folio.title}}</h4>
                    <p>{{folio.type}}</p>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div ng-include="'./views/footer.html'"></div>

</div>

<script type="text/ng-template" id="folioViewModal.html">
  <div class="modal-header">
      <h3 class="modal-title">{{folio.title}}</h3>
      <button class="close" ng-click="$ctrl.cancel()"><i class="fa fa-times"></i></button>
  </div>
  <div class="modal-body">
    <p ng-repeat="item in folio.screenshots">
      <img ng-src="{{item.url}}" />
    </p>
  </div>
  <div class="modal-footer">
      <a class="btn btn-primary" ng-href="{{folio.url}}" target="_blank" ng-show="folio.url != null"><i class="fa fa-eye"></i> View</a>
      <button class="btn btn-danger" ng-click="$ctrl.cancel()">Cancel</button>
  </div>
</script>