<div class="full-page">
  <div class="page page-privacy">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>At www.thelittletechie.com the privacy of our visitors is extremely important. This Privacy Policy outlines the types of personal information that is received and collected and how it is used. This Privacy Policy is reviewed and revised from time to time. You will want to revisit it regularly. Your use of this site, in any and all forms, constitutes an acceptance of this Privacy Policy.</p>

          <hr />

          <h3 class="title">Log files</h3>

          <p>We use log files like many other websites. The information in the log files include:</p>
          <ul class="list-group">
            <li class="list-group-item">Internet Protocol addresses (IP)</li>
            <li class="list-group-item">Types of browser</li>
            <li class="list-group-item">Internet Service Provider (ISP)</li>
            <li class="list-group-item">Date and time stamp</li>
            <li class="list-group-item">Referring and exit pages</li>
            <li class="list-group-item">Number of clicks</li>
          </ul>
          <p>All of this information is not linked to anything that is personally identifiable.</p>

          <hr />

          <h3 class="title">Subscribe</h3>
          <p>Users might be asked to subscribe to our newsletter by providing email address to receive communication from www.thelittletechie.com. We use a secure op-in google's feedburner subscription system and we reserve the right to contact subscribers with information related to this website and blog. Subscribers may unsubscribe anytime and every email delivered will contain an “Unsubscribe” link.</p>

          <p>If you require any more information or have any questions about our privacy policy, please feel free to contact us by email at <strong><a href="mailto:thelittletechie@gmail.com?Subject=Hi Techie">thelittletechie@gmail.com</a></strong></p>
        </div>
      </div>
    </div>
  </div>

  <div ng-include="'./views/footer.html'"></div>
</div>